@import url("//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/d59b846578.js");
@import url(//db.onlinewebfonts.com/c/a89133308b1afde09bf253f1672490c5?family=bubbleboddy+light);

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg-image {
    background-size: cover;
    height: 100%;
    background: url("../../task/img/background.jpg") no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.bg-image-up {
    background-size: cover;
    height: 100%;
    background: url("../../task/img/dan.jpg") no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.bg-image-index {
    background-size: cover;
    height: 100%;
    background: url("../../task/img/index.jpg") no-repeat;
    background-size: cover;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "bubbleboddy light";
}

.login-box h1 {
    float: left;
    font-family: "bubbleboddy light";
    font-size: 40px;
    border-bottom: 6px solid #a000a0;
    margin-bottom: 50px;
    padding: 13px 0;
}

.signup-form {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #008080;
    font-family: "bubbleboddy light";
}

.signup-form h1 {
    float: left;
    font-family: "bubbleboddy light";
    color: #008080;
    font-size: 40px;
    border-bottom: 6px solid #008B8B;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    font-family: "bubbleboddy light";
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rosybrown;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.textbox-up {
    font-family: "bubbleboddy light";
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #66CDAA;
}

.textbox-up input {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #008080;
    font-size: 18px;
    width: 80%;
    float: left;
}

.role-select {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #008080;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #66CDAA;
    padding: 6px 0;
    /*padding: 1%;*/
    /*margin: 4px ;*/
    float: left;
}

.role-select select {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #008080;
    font-size: 18px;
    width: 100%;
    padding: 6px 0;
    /*padding: 1% ;*/
    /*margin: 4px ;*/
    float: left;
}

.button-in {
    font-family: "bubbleboddy light";
    width: 100%;
    background: none;
    border: 2px solid #a000a0;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.button-up-transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: gainsboro;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    left: 80%;
}

.button-up {
    font-family: "bubbleboddy light";
    width: 100%;
    background: none;
    border: 2px solid #008B8B;
    color: #008080;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.logo {
    width: 50px;
    height: 60px;
    left: 200px;
    top: 40px;
    position:relative;
}

.button-in-index {
    text-decoration: none;
    font-family: "bubbleboddy light";
    width: 85px;
    height: 20px;
    display: inline-block;
    background: none;
    border: 2px solid #a000a0;
    color: #a000a0;
    font-size: 18px;
    cursor: pointer;
    transform: translate(1125px,0);
    -webkit-transform: translate(1125px,0); /** Chrome & Safari **/
    -moz-transform: translate(1125px,0);
    top: 24px;
    position:relative;
    text-align:center;
}

.button-up-index {
    font-family: "bubbleboddy light";
    width: 85px;
    background: none;
    border: 2px solid #008B8B;
    color: #008080;
    font-size: 18px;
    cursor: pointer;
    transform: translate(1025px,0);
    -webkit-transform: translate(1025px,0); /** Chrome & Safari **/
    -o-transform: translate(1025px,0); /** Opera **/
    -moz-transform: translate(1025px,0);
    top: 0px;
    position:relative;
}

@font-face {
    font-family: "bubbleboddy light";
    src: url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.eot");
    src: url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.svg#bubbleboddy light") format("svg");
}