@import url("//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/d59b846578.js");
@import url(//db.onlinewebfonts.com/c/a89133308b1afde09bf253f1672490c5?family=bubbleboddy+light);

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "bubbleboddy light";
}

a {
    text-decoration: none;
}

header {
    padding: 5px;
    background-color: #f1d7e3;
    text-align: center;
    font-palette: light;
}

.logo {
    position: absolute;
    top: 90px;
    left: 75px;
    width: 75px;
    height: 55px;
}

.buttonsPanel {
    background-color: #e0b9f1;
    height: 65px;
}

.buttonIn {
    font-family: "bubbleboddy light";
    width: 90px;
    background: none;
    border: 2px solid #a000a0;
    color: white;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 13px 6px;
    text-decoration: none;
    position: absolute;
    right: 185px;
}

.buttonUp {
    font-family: "bubbleboddy light";
    width: 90px;
    background: none;
    border: 2px solid #008B8B;
    color: #008080;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 13px 6px;
    text-decoration: none;
    position: absolute;
    right: 75px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}

.textbox input {
     font-family: "bubbleboddy light";
     border: none;
     outline: none;
     background: none;
     /*color: white;*/
     font-size: 18px;
     width: 60%;
     float: left;
     margin: 0 10px;
     border-bottom: 2px solid #9b3ca0;
 }

.textboxHint input {
    font-family: "bubbleboddy light";
    outline: none;
    background: none;
    /*color: white;*/
    font-size: 18px;
    width: 60%;
    float: left;
    margin: 0 10px;
    border: 2px solid #a0090a;
}

.loginButton {
    font-family: "bubbleboddy light";
    width: 85px;
    height: 35px;
    display: inline-block;
    background: none;
    border: 2px solid #a000a0;
    color: #a000a0;
    font-size: 18px;
    cursor: pointer;
    align-content: center;
    margin-left: 400px;
}

.modalDialog {
    position: fixed;
    font-family: "bubbleboddy light";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialogUp {
    position: fixed;
    font-family: "bubbleboddy light";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    display: none;
    pointer-events: none;
}

.login-box h1 {
    float: left;
    font-family: "bubbleboddy light";
    font-size: 40px;
    border-bottom: 6px solid #a000a0;
    margin-bottom: 30px;
    padding: 13px 0;
}

.login-box p {
    color: #a000a0;
    font-size: 20px;
    margin-left: 100px;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialogUp:target {
    display: block;
    pointer-events: auto;
}

.modalDialogAdd:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
     width: 500px;
     position: relative;
     margin: 10% auto;
     padding: 5px 20px 13px 20px;
     border-radius: 10px;
     background: #ff98fd;
     background: -moz-linear-gradient(#ff98fd, #ffb6e9);
     background: -webkit-linear-gradient(#ff98fd, #ffb6e9);
     background: -o-linear-gradient(#ff98fd, #ffb6e9);
 }

.modalDialogUp > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #95ffd4;
    background: -moz-linear-gradient(#cbf3ff, #95ffd4);
    background: -webkit-linear-gradient(#cbf3ff, #95ffd4);
    background: -o-linear-gradient(#cbf3ff, #95ffd4);
}

.close {
    background: #997a92;
    color: #ff98fd;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.closeUp {
    background: #bbffcf;
    color: #6ae4ff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.closeUp:hover {
    background: #00d9ff;
}
.signup-form {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #008080;
    font-family: "bubbleboddy light";
}

.signupText {
    float: left;
    font-family: "bubbleboddy light";
    color: #008080;
    font-size: 40px;
    border-bottom: 6px solid #008B8B;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox-up {
    font-family: "bubbleboddy light";
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #66CDAA;
}

.textbox-up input {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #008080;
    font-size: 18px;
    width: 80%;
    float: left;
}

.role-select {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #008080;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #66CDAA;
    padding: 6px 0;
    /*padding: 1%;*/
    /*margin: 4px ;*/
    float: left;
}

.role-select select {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #008080;
    font-size: 18px;
    width: 100%;
    padding: 6px 0;
    /*padding: 1% ;*/
    /*margin: 4px ;*/
    float: left;
}

.button-up-transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: gainsboro;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    left: 80%;
}

.button-up {
    font-family: "bubbleboddy light";
    width: 100%;
    background: none;
    border: 2px solid #008B8B;
    color: #008080;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.buttonBack {
    font-family: "bubbleboddy light";
    width: 150px;
    background: none;
    border: 2px solid #008B8B;
    color: #008080;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 13px 6px;
    text-decoration: none;
    position: absolute;
    right: 75px;
    text-align: center;
}

.footer {
    background-color: #f1d7e3;
    text-align: center;
    font-palette: light;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 25px;
}

.bg-image-up {
    background: url("../img/dan.jpg") no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    height: 80%;
}

table {
    border-collapse: collapse;
    border: 1px solid grey;
}

/*th {*/
/*    color: #039;*/
/*    border-bottom: 2px solid #6678b1;*/
/*    padding: 10px 8px;*/
/*}*/

/*td {*/
/*    border-bottom: 1px solid #ccc;*/
/*    color: #669;*/
/*    padding: 9px 8px;*/
/*    transition: .3s linear;*/
/*}*/

th {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #039;
    padding: 8px 2px;
}

td {
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #669;
    padding: 12px 2px;
}

table {
    font-size: 22px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 10px;
}

.bold {
    border-right: 30px solid #fff;
    border-left: 30px solid #fff;
    color: #669;
    padding: 12px 2px;
    font-size: 30px;
    text-align: center;
}

tr:hover td {
    background: #e8edff;
}

.profilePhoto {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 250px;
    height: 250px;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.profileInput {
    padding: 8px 0;
    margin: 8px 0;
    font-family: "bubbleboddy light";
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #f14e6f;
}

.profileForm {
    position: absolute;
    top: 160px;
    left: 700px;
    color: #f14e6f;
    font-family: "bubbleboddy light";
    margin: 5px;
    font-size: 25px;
}

.uploadForm {
    margin-top: 350px;
    margin-left: 300px;
    width: 150px;
}

.field {
    clear: both;
    text-align: right;
    line-height: 25px;
}

label {
    float: left;
    padding-right: 8px;
}

.main {
    float: left
}

.uploadSelect {
    font-family: "bubbleboddy light";
    border: none;
    outline: none;
    background: none;
    color: #f14e6f;
    font-size: 25px;
    width: 100%;
    border-bottom: 1px solid #f17e80;
    padding: 6px 0;
    float: left;
    margin-top: 10px;
}

.uploadButton {
    font-family: "bubbleboddy light";
    width: 90px;
    background: none;
    border: 2px solid #f14e6f;
    padding: 6px;
    font-size: 25px;
    cursor: pointer;
    margin: 95px 23px;
    text-decoration: none;
    text-decoration-color: #f14e6f;
    color: #f14e6f;
}

.uploadButtonPicture {
    font-family: "bubbleboddy light";
    width: 180px;
    background: none;
    border: 2px solid #f14e6f;
    padding: 6px;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 29px;
    text-decoration: none;
    text-decoration-color: #f14e6f;
    color: #f14e6f;
}

.uploadButton a {
    color: #f14e6f;
}

.profileUploadChoose {
    font-family: "bubbleboddy light";
    margin: 17px;
    text-decoration-color: #f14e6f;
}


.hint {
    color: #C70039;
}

@font-face {
    font-family: "bubbleboddy light";
    src: url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.eot");
    src: url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a89133308b1afde09bf253f1672490c5.svg#bubbleboddy light") format("svg");
}